{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block content_title %}Serveurs{% endblock %}
{% block content_subtitle %}Liste des serveurs{% endblock %}

{% block javascripts %}
{{ parent()}}
{{ olixbo_datatable_js(datatable) }}
{% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card card-blue">
                    <div class="card-header">
                        <h3 class="card-title">Liste des serveurs</h3>
                    </div>
                    <div class="card-body">
                        {{ olixbo_datatable_html(datatable) }}
                    </div>
                </div>

            </div>
        </div>

    </div>


{% endblock %}
