@import '../dist/olixbo.css';



body {
    background-color: lightgray;
}

/*.olix-login-bg {
    background: url('../images/back.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
